/* Metadatas */
.chordpro-section-label,
.chordpro-metadata {
  margin: 0.5em 0;
  font-size: 0.9em;
  font-style: italic;
}

.chordpro-title {
  font-size: 2em;
  font-weight: bold;
}

.chordpro-subtitle {
  font-size: 1.5em;
  font-weight: light;
}

/* Verses & Chorus */

.chordpro-chorus {
  padding-left: 1em;
  border-left: 0.5em solid #ddd;
}

.chordpro-block {
  display: inline-block;
}

.chordpro-chord {
  display: inline-block;
  font-weight: bold;
}

.chordpro-line-chords-only .chordpro-chord,
.chordpro-line-inline-chords .chordpro-chord {
  margin-right: 0.5em;
}

.chordpro-text {
  display: block;
}

.chordpro-tab {
  font-family: monospace;
  font-size: 0.8em;
}
